body{
    margin: 0;
    padding: 0;
    background: url('../img/pic1.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginBox
{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    /* padding-top: 20;
    padding-bottom: 30; */
    padding:20px 30px;
    /* 
    
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box; */
}