.main form
{
    font-size: 40;
    font-family: monospace;
    color: blue;
    background-image: url('../img/atiqa.jpeg');
    width: 500px;
    height: 100%;
    margin-left: 650px;
    margin-top: 200px;
}